[Unit]
Description=Раз в неделю обновляет цены нового товара

[Timer]
OnCalendar=Sun *-*-* 04:20:00
Persistent=true

[Install]
WantedBy=timers.target
